$brand-color: #3c52f6;

a {
    color: $brand-color;
    &:hover {
        color: $brand-color;
    }
}

.btn-brand {
    color: #fff;
    background-color: $brand-color;
    border-color: $brand-color;
    border-radius: 2px;
    &:hover {
        color: #fff;
        background-color: darken($brand-color, 5%);
        border-color: darken($brand-color, 5%);
    }
}

.alert-danger {
    color: #b30000;
    background-color: #ffe6e6;
    border-color: #ff8080;
    border-radius: 2px;
}

.alert-brand {
    color: $brand-color;
    background-color: #e7e9fe;
    border-color: #9ea8fa;
    border-radius: 2px;
}

.btn-outline-brand {
    color: $brand-color;
    border-color: $brand-color;
    &:hover {
        color: #fff;
        background-color: darken($brand-color, 5%);
        border-color: darken($brand-color, 5%);
    }
}

.page-link {
    color: $brand-color;
    &:hover {
        color: $brand-color;
    }
}

.page-item.active .page-link {
    background-color: $brand-color;
    border-color: $brand-color;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    border-color: $brand-color;
    background-color: $brand-color;
}

.text-muted {
    color: #666 !important;
}

.removed-point-info {
    display: block;
    margin-top: 5px;
    line-height: 1.3;
}

@import 'inc/login';
@import 'inc/sidebar';
@import 'inc/content';