html {
    height: 100vh;
}

body {
    background-color: #000;
}

.header {
    min-height: 80px;
    margin: 15px 0;

    .logo {
        display: flex;
        align-items: center;

        img {
            margin-left: -10px;
            margin-right: 15px;
            max-width: 146px;
        }

        span {
          color: #fff;
          font-size: 12px;
          display: inline-block;
          line-height: 1.2;
        }
    }

    a.address-program-btn {
        display: inline-block;
        float: right;
        margin-top: 10px;
        font-size: 13px;
        text-transform: none;
        font-weight: normal;
        padding: 14px 30px;
        cursor: pointer;
        border: 2px solid #0a23db;
        background: none;
        color: #fff;
        text-decoration: none;

        &:hover {
            background: #0a23db;
        }
    }

    .map-filters {
        color: #fff;
        font-size: 14px;
        margin-top: 15px;
    
        .chx-container {
            display: inline-block;
            position: relative;
            padding-left: 22px;
            margin-right: 25px;
            margin-bottom: 12px;
            line-height: 14px;
            cursor: pointer;
            font-weight: normal;
            font-size: 13px;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
    
            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;
            }
    
            &:hover input ~ .chx-checkmark {
                background-color: #f5f5f5;
            }
    
            input:checked ~ .chx-checkmark {
                background-color: #3c52f6;
            }
    
            input:checked ~ .chx-checkmark:after {
              display: block;
            }
    
            .chx-checkmark {
                position: absolute;
                top: 0;
                left: 0;
                height: 14px;
                width: 14px;
                background-color: #f5f5f5;
                border: 1px solid #3c52f6;
    
                &:after {
                    content: "";
                    position: absolute;
                    display: none;
                    left: 4px;
                    top: 1px;
                    width: 5px;
                    height: 8px;
                    border: solid #f5f5f5;
                    border-width: 0 2px 2px 0;
                    -webkit-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    transform: rotate(45deg);
                }
            }
        }
    }
}

.map-wrapper {
    width: 100%;
    position: relative;
    margin-bottom: 15px;

    #map {

        .cluster-icon {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          font-size: 50px;
          color: #fff;
          line-height: 50px;
          text-align: center;
          background: #3c52f6;
          font-size: 15px;
          border: 1px solid #0a23db;
          margin-left: -25px;
          margin-top: -25px;
        }

        ul.cluster-placemarks-list {
          display: block;
          padding: 0;
          margin: 5px;
        }

        ul.cluster-placemarks-list li {
          display: block;
          margin: 5px;
          color: #3c52f6;
          cursor: pointer;
          font-weight: bold;
        }

        ul.cluster-placemarks-list li:before {
          all: unset;
        }
    }

    #placemark-info {
        display: none;
        width: 100%;
        position: absolute;
        top: 10px;
        left: 40px;
        height: 600px;
        // bottom: 28px;
        width: 500px;
        z-index: 100;
        padding: 10px;
        filter: drop-shadow(2px 2px 2px rgba(50, 50, 0, 0.5));

        &.sm {
          height: 300px;
        }

        &.active {
          display: block
        }

        .placemark-info-content {
            position: relative;
            height: 100%;
            background: #fff;
            padding: 36px 36px;
            clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);

            img.close {
                all: unset;
                position: absolute;
                top: 15px;
                right: 15px;
                cursor: pointer;
                height: 20px;
                font-size: 20px;
            }

            .placemark-info-title {
                font-size: 28px;
                font-weight: bold;
                color: #0a0a0a;
            }

            .placemark-info-address {
                font-size: 15px;
                margin-top: 10px;
                color: #0a0a0a;
            }

            .placemark-info-params {
                margin-top: 26px;

                .placemark-info-params-media-type,
                .placemark-info-params-size,
                .placemark-info-params-orientation {
                    font-size: 12px;
                    margin-top: 12px;
                    color: #b7b7b7;

                    &.hidden {
                        display: none;
                    }

                    span.title {
                        color: #b7b7b7;
                        width: 120px;
                        float: left;
                        display: block
                    }

                    span.text {
                        color: #0a0a0a;
                        width: 280px;
                        display: block;
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;
                    }
                }

                .placemark-info-params-images {
                    overflow-y: auto;
                    overflow-x: hidden;
                    height: 260px;
                    margin: 24px -15px 0 -15px;
                    padding-left: 15px;

                    .images-grid-item {
                        width: 195px;
                        margin-bottom: 10px;
                        cursor: pointer;

                        &.single {
                            width: 410px;
                            margin-bottom: 0;
                        }

                        img {
                            vertical-align: middle;
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }
            }
        }
    }

    #placemark-images {
        display: none;
        position: absolute;
        top: 8px;
        left: 8px;
        right: 8px;
        bottom: 8px;
        z-index: 200;
        background: #fff;
        padding: 25px;
        -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 0, 0.5);
        -moz-box-shadow: 2px 2px 3px 0px rgba(50, 50, 0, 0.5);
        box-shadow: 2px 2px 3px 0px rgba(50, 50, 0, 0.5);

        &.active {
            display: block;
        }

        img.close {
            all: unset;
            position: absolute;
            top: 20px;
            right: 20px;
            cursor: pointer;
            height: 20px;
            font-size: 20px;
        }

        img.prev {
            position: absolute;
            left: 20px;
            cursor: pointer;
            font-size: 20px;
            top: 45%;
            height: 44px;

            &.hidden {
                display: none;
            }
        }

        img.next {
            position: absolute;
            right: 20px;
            cursor: pointer;
            font-size: 20px;
            top: 45%;
            height: 44px;

            &.hidden {
                display: none;
            }
        }

        span.total {
            color: #888;
            position: absolute;
            bottom: 26px;
            left: 48%;
            font-size: 13px;

            &.hidden {
                display: none;
            }
        }

        span.back {
            position: absolute;
            top: 20px;
            left: 20px;
            color: #3c52f6;
            font-size: 20px;
            cursor: pointer;
        }

        div.image-preview {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            position: absolute;
            bottom: 60px;
            right: 80px;
            left: 80px;
            top: 60px;
        }

        span.total {
            color: #888;
            position: absolute;
            bottom: 26px;
            left: 48%;
            font-size: 13px;
        }
    }
}

@media (max-width: 768px) {

    .header {

        .map-filters {

            .region {
                margin-bottom: 15px;
            }

            .building-type div:first-child {
                margin-bottom: 5px;
            }

            .media-type div:first-child {
                margin-bottom: 5px;
            }
        }

        a.address-program-btn {
            float: left;
            margin-top: 15px;
        }
    }
}