.map-content {
  background: #0a0a0a;
  color: #fff;
}

.map-filters {
  padding: 20px 15px;
}
.map-filters .region {
  position: relative;
}
.map-filters .region .region-label,
.map-filters .region .region-title {
  display: block;
}
.map-filters .region .region-title img{
  padding-left: 5px;
  height: 5px;
}
/* .map-filters .region .region-lebel {
font-size: 13px;
} */
.map-filters .region .region-title {
  margin-top: 5px;
  font-size: 24px;
  color: #3c52f6;
  cursor: pointer;
}
.map-filters .region ul.region-list {
  display: none;
  position: absolute;
  top: 55px;
  left: 0;
  z-index: 100;
  background: #fff;
  color: #0a0a0a;
  margin: 0;
  padding: 10px;
  columns: 4;
  -webkit-columns: 4;
  -moz-columns: 4;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 0, 0.5);
  -moz-box-shadow: 2px 2px 3px 0px rgba(50, 50, 0, 0.5);
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 0, 0.5);
}
.map-filters .region ul.region-list.active {
  display: block;
}
.map-filters .region  ul.region-list li {
  all: unset;
  margin: 0;
  padding: 7px;
  width: 140px;
  display: block;
  cursor: pointer;
  font-size: 13px;
}
.map-filters .region  ul.region-list li.active {
  font-weight: bold;
}
.map-filters .region ul.region-list li::before {
  all: unset;
}

.map-filters .building-type {
  margin-bottom: 5px;
}

.chx-container {
  display: inline-block;
  position: relative;
  padding-left: 22px;
  margin-right: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: normal;
  font-size: 13px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.chx-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.chx-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 14px;
  width: 14px;
  background-color: #f5f5f5;
  border: 1px solid #3c52f6;
}
.chx-container:hover input ~ .chx-checkmark {
  background-color: #f5f5f5;
}
.chx-container input:checked ~ .chx-checkmark {
  background-color: #3c52f6;
}
.chx-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
.chx-container input:checked ~ .chx-checkmark:after {
  display: block;
}
.chx-container .chx-checkmark:after {
  left: 4px;
  top: 1px;
  width: 5px;
  height: 8px;
  border: solid #f5f5f5;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.map-wrapper {
  width: 100%;
  position: relative;
  /* padding: 0 15px; */
}

#map .cluster-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 50px;
  color: #fff;
  line-height: 50px;
  text-align: center;
  background: #3c52f6;
  font-size: 15px;
  border: 1px solid #0a23db;
  margin-left: -25px;
  margin-top: -25px;
}

#map ul.cluster-placemarks-list {
  all: unset;
  display: block;
  padding: 0;
  margin: 5px;
}
#map ul.cluster-placemarks-list li {
  all: unset;
  display: block;
  margin: 5px;
  color: #3c52f6;
  cursor: pointer;
  font-weight: bold;
}
#map ul.cluster-placemarks-list li:before {
  all: unset;
}

#placemark-info {
  display: none;
  width: 100%;
  position: absolute;
  top: -2px;
  left: -2px;
  bottom: 28px;
  width: 500px;
  /* height: 580px; */
  z-index: 100;
  padding: 10px;
  filter: drop-shadow(2px 2px 2px rgba(50, 50, 0, 0.5));
}

#placemark-info.sm {
  height: 300px;
}

#placemark-info.active {
  display: block
}

#placemark-info .placemark-info-content {
  position: relative;
  height: 100%;
  background: #fff;
  padding: 36px 36px;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
}

#placemark-info .placemark-info-content > img.close {
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
  height: 20px;
  font-size: 20px;
}

#placemark-info .placemark-info-title {
  font-size: 28px;
  font-weight: bold;
  color: #0a0a0a;
}

#placemark-info .placemark-info-address {
  font-size: 15px;
  margin-top: 10px;
  color: #0a0a0a;
}

#placemark-info .placemark-info-params {
  margin-top: 26px;
}

#placemark-info .placemark-info-params .placemark-info-params-media-type,
#placemark-info .placemark-info-params .placemark-info-params-size,
#placemark-info .placemark-info-params .placemark-info-params-orientation {
  font-size: 12px;
  margin-top: 12px;
  color: #b7b7b7;
}

#placemark-info .placemark-info-params .placemark-info-params-media-type,
#placemark-info .placemark-info-params .placemark-info-params-size,
#placemark-info .placemark-info-params .placemark-info-params-orientation{
  font-size: 12px;
}

#placemark-info .placemark-info-params .placemark-info-params-media-type.hidden,
#placemark-info .placemark-info-params .placemark-info-params-size.hidden,
#placemark-info .placemark-info-params .placemark-info-params-orientation.hidden {
  display: none;
}

#placemark-info .placemark-info-params .placemark-info-params-media-type span.title,
#placemark-info .placemark-info-params .placemark-info-params-size span.title,
#placemark-info .placemark-info-params .placemark-info-params-orientation span.title {
  color: #b7b7b7;
  width: 120px;
  float: left;
  display: block
}

#placemark-info .placemark-info-params .placemark-info-params-media-type span.text,
#placemark-info .placemark-info-params .placemark-info-params-size span.text,
#placemark-info .placemark-info-params .placemark-info-params-orientation span.text {
  color: #0a0a0a;
  width: 280px;
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#placemark-info .placemark-info-params .placemark-info-params-images {
  overflow-y: auto;
  overflow-x: hidden;
  height: 260px;
  margin: 24px -15px 0 -15px;
  padding-left: 15px;
}

#placemark-info .placemark-info-params .placemark-info-params-images .images-grid-item {
  width: 195px;
  margin-bottom: 10px;
  cursor: pointer;
}

#placemark-info .placemark-info-params .placemark-info-params-images .images-grid-item.single {
  width: 410px;
  cursor: pointer;
}

#placemark-images {
  display: none;
  position: absolute;
  top: 8px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  z-index: 200;
  background: #fff;
  padding: 25px;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(50, 50, 0, 0.5);
  -moz-box-shadow: 2px 2px 3px 0px rgba(50, 50, 0, 0.5);
  box-shadow: 2px 2px 3px 0px rgba(50, 50, 0, 0.5);
}

#placemark-images.active {
  display: block;
}

#placemark-images img.close {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  height: 20px;
  font-size: 20px;
}

#placemark-images img.prev {
  position: absolute;
  left: 20px;
  cursor: pointer;
  font-size: 20px;
  top: 45%;
  height: 44px;
}

#placemark-images img.next {
  position: absolute;
  right: 20px;
  cursor: pointer;
  font-size: 20px;
  top: 45%;
  height: 44px;
}

#placemark-images span.total {
  color: #888;
  position: absolute;
  bottom: 26px;
  left: 48%;
  font-size: 13px;
}

#placemark-images img.prev.hidden,
#placemark-images img.next.hidden,
#placemark-images span.total.hidden {
  display: none;
}

#placemark-images span.back {
  position: absolute;
  top: 20px;
  left: 20px;
  color: #3c52f6;
  font-size: 20px;
  cursor: pointer;
}

#placemark-images div.image-preview {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  bottom: 60px;
  right: 80px;
  left: 80px;
  top: 60px;
}

#placemark-images span.total {
  color: #888;
  position: absolute;
  bottom: 26px;
  left: 48%;
  font-size: 13px;
}

@media (max-width: 768px) {

.map-filters .region {
    margin-bottom: 15px;
}

.map-filters .building-type div:first-child {
    margin-bottom: 5px;
}

.map-filters .media-type div:first-child {
    margin-bottom: 5px;
}
}