#content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 20px 30px;
    margin-left: 250px;
    font-size: 14px;

    .images-list {
        margin-top: 10px;
        display: block;

        .image-item {
            cursor: pointer;
            width: 240px;
            margin-bottom: 5px;

            img {
                width: 100%;
                vertical-align: unset;
            }

            span {
                position: absolute;
                top: 0;
                right: 0;
                background: #fff;
                padding: 2px;
                width: 24px;
                cursor: pointer;
                color: #cc0000;
                text-align: center;

                &:hover {
                  color: darken(#cc0000, 5%);
                }
            }
        }
    }
    a.edit-item {
        color: $brand-color;

        &:hover {
            color: darken($brand-color, 5%);
        }
    }

    a.delete-item {
        color: #cc0000;

        &:hover {
            color: darken(#cc0000, 5%);
        }
    }

    a.edit-item, a.delete-item {
        font-size: 16px;
        font-weight: normal;
        padding: 5px;
    }

    h4.title {
        font-size: 18px;
        color: #666;
        margin-bottom: 20px;
    }

    .errors ul {
        list-style: none;
        padding-left: 0;
        margin: 0;
    }

    .table-filters {
        display: block;
        margin: 25px 0;

        span, select, input {
            display: inline-block;
        }

        span {
            font-weight: bold;
            margin-right: 4px;
        }

        select, input {
            border-radius: 2px;
            margin-bottom: 15px;
        }

        a.search {
            margin-right: 4px;
        }
    }

    .table {

        thead th {
            border-bottom: none;

            &.w100 {
                width: 100px;
            }
        }
    }

    .table td, .table th {
        padding: .65rem;
    }

    form.edit-form {

        label.custom-label {
            font-size: 14px;
            margin-bottom: 3px;
            font-weight: bold;

            &.with-radio {
                display: block;
                margin-bottom: 2px;
            }
        }

        input, textarea, select {
            border-radius: 2px;
        }

        a.back {
            margin-left: 4px;
            border-radius: 2px;
        }

        a#js-btn-save {

            span.spinner-border {
                display: none;
                margin: 4px 31.8px;
            }

            span.text {
                display: block;
            }

            &.disabled {

                span.spinner-border {
                    display: block;
                }
    
                span.text {
                    display: none;
    
                }
            }
        }

        #js-add-file {
            margin-bottom: 6px;
        }

        a#js-find-address {
            font-weight: normal;

            &:hover {
                text-decoration: underline;
                text-decoration-style: dotted;
            }
        }

        .custom-control-label {
            cursor: pointer;
        }
    }

    .map-top-panel {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        select {
            width: 200px;
            border-radius: 2px;
            margin-right: 8px;
        }

        ul {
            list-style: none;
            padding-left: 0;
            margin: 0;

            li {
                display: inline-block;
                margin-left: 10px;

                a#js-reset-map:hover {
                    text-decoration: underline;
                    text-decoration-style: dotted;
                }

                a#js-add-addreses {
                    border-radius: 2px;
                }
            }
        }
    }

    .map-wrapper {
        position: relative;

        #addresses-list {
            width: 720px;
            position: absolute;
            z-index: 100;
            background: #fff;
            padding: 10px;
            border: 1px solid #dcdcdc;
            top: 10px;
            right: 10px;

            .form-group {
                margin-bottom: 0;
            }

            span.help {
                font-size: 13px;
                line-height: 1;
                display: block;
                margin-bottom: 8px;
            }

            textarea {
                height: 200px;
                margin-bottom: 10px;
                border-radius: 2px;
                font-size: 13px;
                line-height: 1.2;
                padding: 5px;
            }

            a#js-addresses-list-close:hover {
              text-decoration: underline;
              text-decoration-style: dotted;
          }
        }

        a#js-add-addresses {
            margin-right: 6px;
        }
        
        #map {
            border: 1px solid #dcdcdc;
        }

        .drag-map {
            width: 100%;
            height: 5px;
            cursor: ns-resize;
        }
    }

    .map-bottom-panel {
        margin: 10px 0;
        background: #f2f2f2;
        padding: 10px;

        .col-check {

            .filters-block {
                display: block;
                margin-bottom: 10px;
    
                .filters-block-title {
                    margin-bottom: 5px;
                }
    
                .filters-block-content {
    
                    .filters-checkbox {
                        display: inline-block;
                        margin-right: 10px;
    
                        .custom-control-label {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        .col-search-type {
            border-left: 1px solid #dcdcdc;
            border-right: 1px solid #dcdcdc;

            .search-type {
                margin-top: 10px;
                text-align: center;

                .search-type-tabs {
                    padding: 0;
                    margin-bottom: 28px;

                    li {
                        display: inline;
                        list-style-type: none;
                        padding-right: 20px;
                        cursor: pointer;
                        padding: 6px;
                        font-weight: bold;
                        color: $brand-color;
                        border: 1px solid #f2f2f2;

                        &:hover {
                            color: darken($brand-color, 5%)
                        }

                        &.active {
                            background: #fff;
                            color: #000;
                            border: 1px solid #dcdcdc;
                            cursor: default;

                            &:hover {
                                color: #000;
                            }
                        }
                    }
                }

                .search-type-content {

                    .content-block {
                        display: none;

                        &.active {
                            display: block;
                        }

                        .content-block-top {
                            display:inline-block;
                            width: 100%;
                            font-size:12px;
                            margin-bottom: 10px;
                        }

                        .content-block-bottom {
                            display:inline-block;
                            width: 100%;
                            font-size:12px;

                            input {
                                margin: 0 auto;
                                width: 105px;
                                text-align: center;
                                border-radius: 2px;
                            }
        
                            input[type=number]::-webkit-inner-spin-button, 
                            input[type=number]::-webkit-outer-spin-button { 
                                -webkit-appearance: none; 
                                margin: 0; 
                            }
                        }
                    }
                }
            }
        }

        .col-btn {

            .btn-block-content {
                text-align: center;
                margin-top: 30px;

                a {
                    display: inline-block;
                    padding: 4px 22px;

                    span.spinner-border {
                        display: none;
                        margin: 7px 20.548px;
                    }

                    span.text {
                        display: block;
                    }

                    &.disabled {

                        span.spinner-border {
                            display: block;
                        }

                        span.text {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    .map-result {
        margin-top: 24px;

        .map-result-top-pannel {
            display: flex;
            justify-content: space-between;
            margin-bottom: 4px;

            h6 {
                font-weight: bold;
            }

            #excel-export:hover {
                text-decoration: underline;
                text-decoration-style: dotted;
            }

            #js-get-link {
                margin-left: 18px;

                &:hover {
                    text-decoration: underline;
                    text-decoration-style: dotted;
                }
            }
        }

        .map-result-top-pannel-2 {
            margin-bottom: 15px;

            input {
                border-radius: 2px;
            }

            button:last-child {
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
            }
        }

        .map-result-table {
            border-top: 2px solid #dcdcdc;
            border-bottom: 2px solid #dcdcdc;

            tr {
                border-top: 1px solid #dcdcdc;
                border-bottom: 1px solid #dcdcdc;

                td {
                    padding: 0;

                    &.left {
                        span {
                            display: block;
                            padding: 5px 0;
                            font-weight: bold;
                        }
                    }

                    &.right {
                        border-left: 1px solid #dcdcdc;

                        ul {
                            list-style: none;
                            padding-left: 0;
                            margin: 0;

                            li {
                                border-bottom: 1px solid #dcdcdc;
                                padding: 5px;
                              
                                &:last-child {
                                    border-bottom: none;
                                }

                                div {

                                    &:first-child {
                                        display: flex;
                                        justify-content: space-between;
                                    }

                                    &:last-child {
                                        font-size: 12px;
                                        display: flex;
                                        justify-content: space-between;

                                        span a.js-remove-point::hover {
                                            text-decoration: underline;
                                            text-decoration-style: dotted;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .map-request-form {
        margin-bottom: 20px;

        .top-title {
            position: relative;
            margin-bottom: 50px;
            font-size: 22px;
            line-height: 36px;
            text-transform: uppercase;
            letter-spacing: 0.05em;
            text-align: center;
            perspective: 30px;
            min-height: 121px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 2;
    
            &:before {
                width: 374px;
                height: 129px;
                border: 10px solid #eff1f3;
                display: block;
                position: absolute;
                left: 50%;
                top: 50%;
                transform-origin: left;
                transform-style: preserve-3d;
                transform: translate(-50%, -50%) rotateY(1deg);
                content: "";
                z-index: -2;
                margin-left: 18px;
            }
        }

        .employee-info {

            div {
                display: block;
                width: 240px;
                display: inline-block;
                line-height: 1.4;
                margin-right: 125px;
                margin-top: 10px;
                float: right;
                clear: both;
            }
    
            img{
                width: 240px;
                clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
                margin-right: 125px;
            }
        }

        form {
            width: 360px;

            p {
                font-size: 15px;
                line-height: 1.2;
            }

            .form-group {
                position: relative; 
                margin-top: 40px;

                input.form-control:focus{
                    border-bottom: 2px solid $brand-color;
                    box-shadow: none;
                }

                input.form-control {
                    position: relative;
                    z-index: 2;
                    background: transparent;
                    padding: 0;
                    border: 0;
                    border-radius: 0;
                    border-bottom: 2px solid #c4c4c4;
                }

                label {
                    position: absolute;
                    top: 10px;
                    left: 0;
                    font-size: 16px;
                    transition: all 0.3s ease-in-out;
                    z-index: 1;
                    color: #c4c4c4;
                }

                input.form-control:focus + label,
                input.form-control.not-empty + label {
                    top: -18px;
                    font-size: 14px;
                    color: #000;
                }

                input.form-control.has-error {
                    border-bottom: 2px solid #ff3333;

                    + label {
                        color: #ff3333;
                    }
                }
            }

            #js-send-feedback {
                margin: 20px 0;
                width: 100%;
                padding: 12px;
                text-align: center;

                span.spinner-border {
                    display: none;
                    margin: 4px 160px;
                }
    
                span.text {
                    display: block;
                }

                &.disabled {

                    span.spinner-border {
                        display: block;
                    }
        
                    span.text {
                        display: none;
                    }
                }
            }

            .custom-checkbox {
                font-size: 13px;
                line-height: 1.2;

                .custom-control-label{
                    &.has-error > span {
                        color: #ff3333;
                    }
                }
            }

            .switch-block-2 p {
                margin-top: 40px;
                color: #3c52f6;
            }
        }
    }
}

// Кнопка в яндекс карте (админ. округ)
#js-msc-ad {
    background-color: #fff;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15), 0 2px 5px -3px rgba(0,0,0,.15);
    box-sizing: border-box!important;
    border: 1px solid transparent;
    border-radius: 3px;
    background-clip: border-box;
    color: #000;
    vertical-align: middle;
    text-decoration: none;
    font-size: 13px;
    padding: 5px 10px;
    cursor: pointer;
}

ul#msc-ad-list {
    width: 174px;
    position: absolute;
    z-index: 100;
    background-color: #fff;
    box-shadow: 0 1px 2px 1px rgba(0,0,0,.15), 0 2px 5px -3px rgba(0,0,0,.15);
    box-sizing: border-box!important;
    border: 1px solid transparent;
    border-radius: 3px;
    background-clip: border-box;
    top: 32px;
    left: 10px;
    padding-left: 0;
    margin: 0;
    list-style: none;

    li {
        padding: 5px 10px;
        cursor: pointer;
        font-size: 13px;
        margin: -1px;

        &::last-child {
            border-bottom: none;
        }

        &:hover {
            background-color: lighten($brand-color, 35%);
        }

        &.active {
            background-color: lighten($brand-color, 25%);

            &:hover {
                background-color: lighten($brand-color, 25%);
            }
        }
    }
}