
#login-content {
    width: 320px;
    margin: 8% auto auto auto;
    padding: 15px;
    background: #fff;
    font-size: 14px;

    // h4 {
    //   font-size: 20px;
    //   font-weight: bold;
    //   color: #363636;
    //   text-align: center;
    //   margin-bottom: 20px;
    // }

    .logo {
        display: block;
        text-align: center;
        margin-bottom: 5px;
    }

    input {
        border-radius: 2px;
    }

    button {
        width: 100%;
        padding: 10px;
    }
}