#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    overflow: auto;
    padding: 20px 0;
    background: #262626;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.20);

    .logo {
        margin: 0 5px -2px 5px;
    }

    ul.menu {
        padding: 0;
        margin: 0;

        li {
            display: block;

            a {
                color: #fff;
                background-color: #404040;
                border: 1px solid #404040;
                display: inherit;
                margin: 8px 15px 0;
                padding: 12px 12px;
                border-radius: 4px;
                text-decoration: none;
                border-radius: 2px;
                line-height: 1.2;
                position: relative;

                i.fa-plus, i.fa-minus {
                    position: absolute;
                    right: 16px;
                    top: 16px;
                    font-size: 11px;
                }

                span {
                    margin-right: 20px;
                }
            }

            &:hover a {
                background-color: #404040;
                border: 1px solid $brand-color;
            }

            &.active a {
                background-color: $brand-color;
                border: 1px solid $brand-color;
            }

            ul.sub-menu {
                padding-left: 0;
                display: none;

                li {
                    a {
                        color: #a6a6a6;
                        background-color: #333333;
                        border: 1px solid #404040;
                        padding: 6px 12px;
                        margin: 8px 15px 0;
                        font-size: 15px;
                        position: relative;

                        i.fa-circle {
                            position: absolute;
                            font-size: 9px;
                            top: 10px;
                        }

                        span {
                            margin-left: 18px;
                        }
                    }

                    &:hover a {
                        background-color: #333333;
                        border: 1px solid #404040;
                        color: #fff;
                    }

                    &.active a {
                        background-color: #333333;
                        border: 1px solid #404040;
                        color: #fff;
                    }
                }
            }
        }
    }

    .shared-contacts {
        color: #fff;
        font-size: 14px;
        margin: 12px 12px;

        span {
            display: block;
            line-height: 1.2;
            &:first-child {
                line-height: 1.5;
            }
        }

        b {
            font-size: 16px;
        }

        a {
            color: #fff;
        }
    }
}